<div class="container">
    <div class="content">
        <div class="img">
            <img src="assets/picofdiscs.webp">
        </div>
        <div class="text">
            <div class="title">
                <h1>About Brandon's Discs</h1>
            </div>
            <div class="filler">
                <h3>
                    Brandon's Discs is a vibrant store catering to disc golf enthusiasts of all levels. Offering a curated selection of premium discs like the Nuke OS and Hades, it's a haven for players seeking precision and performance. Beyond discs, it fosters community through events and tournaments, uniting players with shared passion. Expert staff provide personalized guidance, ensuring every customer finds the perfect disc. More than a store, Brandon's Discs is a hub of camaraderie and expertise, where every throw tells a story of flight and finesse.
                </h3>   
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
