<form class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Disk Name</mat-label>
      <input matInput placeholder="Enter your Disk Name">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Enter your Description">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Flight Numbers</mat-label>
        <input matInput placeholder="Enter your Flight Numbers">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter your Price">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Img URL</mat-label>
        <input matInput placeholder="Enter your Img URL">
      </mat-form-field>
  
    <button mat-raised-button color="primary">Submit</button>
  </form>
  